<html>
<head>
  <title>Алгоритм банкира</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<div class="container-narrow">

  <div class="masthead">
    <ul class="nav nav-pills pull-right">
      <li class="active"><a href="/">Главная</a></li>

    </ul>
    <h3 class="muted">Пятницкий Семен</h3>
  </div>
 <h1>Алгоритм банкира</h1>
   <p><%= @res %></p>
 <hr>
<div class="footer">
    <p>Пятницкий С.К. 2017</p>
  </div>

</div> <!-- /container -->

</div>
</body>

</html>
